<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.mg.dao.MgaBoardDAO">
	
	<!-- 글쓰기  -->
	<insert id="insert" parameterType="MgaBoardVO">
		insert into mgaboard values(
		mga_seq_idx.nextval, #{ref}, #{name} ,#{subject}, #{content}, sysdate , 0 ,#{ip}, #{addr1}, #{addr2}
		)
	</insert>
	
	<!-- 글삭제  -->
	<delete id="delete" parameterType="int">
		delete from mgaboard where idx=#{idx}
	</delete>

	<!-- 글수정  -->
	<update id="update" parameterType="MgaBoardVO">
		update mgaboard set subject = #{subject}, content = #{content}, regdate = sysdate, ip = #{ip} , addr1=#{addr1}, addr2=#{addr2}
		where idx = #{idx}
	</update>

	<!-- 글 목록보기  -->
	<select id="selectList" parameterType="hashmap" resultType="MgaBoardVO">
		select R.* from (
			select rownum rnum, Q.* from (
				select * from mgaboard order by idx desc
			) Q
			where <![CDATA[rownum <= #{endNo}]]>
		) R
		where <![CDATA[rnum >= #{startNo}]]>
	</select>
	
	<!-- 글 1개보기 -->
	<select id="selectByIdx" resultType="MgaBoardVO" parameterType="int">
		select * from mgaboard where idx=#{idx}	
	</select>
	
	<!-- 글 개수 보기  -->
	<select id="selectCount" resultType="int">
		select count(*) from mgaboard
	</select>
	
	<!-- 조회수 증가 -->
	<update id="incrementReadCount" parameterType="int">
		update mgaboard set readcount = readcount + 1 where idx = #{idx}
	</update>
	
		<!-- 글 목록보기 + 검색 -->
	<select id="selectListSearch" parameterType="hashmap"
		resultType="MgaBoardVO">
		
		select * from mgaboard
		<if test='searchType.equals("subject")'>
			WHERE subject LIKE '%' || #{keyword} || '%'
		</if>
		<if test='searchType.equals("content")'>
			WHERE content LIKE '%' || #{keyword} || '%'
		</if>
		<if test='searchType.equals("subject_content")'>
			WHERE subject LIKE '%' || #{keyword} || '%' OR content LIKE '%' ||
			#{keyword} || '%'
		</if>
		<if test='searchType.equals("name")'>
			WHERE name LIKE '%' || #{keyword} || '%'
		</if>
		order by idx desc
	
	</select>

	<!-- 글 개수 보기 + 검색 기능 -->
	<!-- searchtype과 keyword를 받아야하므로 parameter type을 추가 해줌  -->
	<select id="searchCount" resultType="int" parameterType="hashmap">
		select count(*) from mgaboard
		<if test='searchType.equals("subject")'>
			WHERE subject LIKE '%' || #{keyword} || '%'
		</if>
		<if test='searchType.equals("content")'>
			WHERE content LIKE '%' || #{keyword} || '%'
		</if>
		<if test='searchType.equals("subject_content")'>
			WHERE subject LIKE '%' || #{keyword} || '%' OR content LIKE '%' ||
			#{keyword} || '%'
		</if>
		<if test='searchType.equals("name")'>
			WHERE name LIKE '%' || #{keyword} || '%'
		</if>
	</select>
	
	
</mapper>  