<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<!-- header  -->
	<header id="myHeader" style="border: 1px solid black; margin: auto;">
		<img alt="로고" src="/img/market garden.png" id="img" width="200">
		<span style="font-size: 50px;">Market Garden</span>
		<th:block th:if="${session.MgVO == NULL}">
		<button type="button" onclick="location.href='/login'"
			style="position: inherit; right: 20px;">로그인</button>
		<button type="button" onclick="location.href='/join'">회원가입</button>
		<button id="live-chat"
			style="position: fixed; bottom: 20px; right: 20px; border: none; border-radius: 16px; background: royalblue; color: white; padding: 12px; font-weight: bold; box-shadow: 0px 5px 15px gray; cursor: pointer;">실시간
			채팅 💬</button>
		</th:block>
		<th:block th:if="${session.MgVO != NULL}">
		</th:block>
	</header>

	<!-- nav  -->
	<nav id="myNav"
		style="border: 1px solid black; height: 50px; margin-top: 10px; border-radius: 20px;">
		<table style="width: 100%;">
			<tr>
				<th width="15%"><a href="/main">메인</a></th>
				<th width="15%"><a href="#">중고거래</a></th>
				<th width="15%"><a href="#">알바찾기</a></th>
				<th width="15%"><a href="#">우리동네핫딜</a></th>
				<th width="15%"><a href="#">우리동네맛집</a></th>
				<th width="15%"><a href="/board/list">커뮤니티</a></th>
			</tr>
		</table>
	</nav>

	<main id="myMain"
		style="border: 1px solid black; height: 550px; margin-top: 10px; text-align: center;">
	</main>

	<footer id="myFooter"
		style="border: 1px solid black; height: 100px; margin-top: 10px; text-align: center;">
		<table style="width: 100%;">
			<tr>
				<th width="10%"><a href="#">회사소개</a></th>
				<th width="10%"><a href="#">인재채용</a></th>
				<th width="10%"><a href="#">제휴제안</a></th>
				<th width="10%"><a href="#">이용약관</a></th>
				<th width="10%"><a href="#">개인정보처리방침</a></th>
				<th width="10%"><a href="#">고객센터</a></th>
			</tr>
			<tr>
				<td colspan="6">Copyright <a href="list">©</a> www.marketgarden.gg All
					rights reserved.
				</td>
			</tr>
			<tr>
				<td colspan="6">대표 이민재 사업자번호 777-77-7777 직업정보제공사업 신고번호
					7777-경기성남-7777</td>
			</tr>
			<tr>
				<td colspan="6">주소 경기도 성남시 판교역로 777길 77, 777호 전화 7777-7777 고객문의
					cs@marketgarden.com</td>
			</tr>

		</table>
	</footer>

</body>
</html>